/* styles.css */

/* Global styles */
html {
  height: 100%;
  width: 100%;
  background: #dddddd21;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.search-section {
  
}

/* Container for the entire app */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.app-header {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 20px 0;
  font-size: 24px;
}

/* Search bar styles */
.search-bar {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 2rem 8rem;
  border-radius: 1rem;
}

/* Package card styles */
.package-card {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

/* Chart styles */
.chart {
  margin-top: 20px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .app-container {
    padding: 10px;
  }
}
